<robot name="my_car_move" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- ========== 引用 my_base 的底盘和轮子属性 ========== -->
  <xacro:include filename="my_base.urdf.xacro"/>

  <!-- ========== ros2_control 定义 ========== -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <!-- 四个麦轮 joint -->
    <joint name="front_left_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="front_right_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_left_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_right_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find robot_gazebo)/urdf/mecanum_controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <controller name="mecanum_controller" type="mecanum_drive_controller/MecanumDriveController">
    <ros>
      <namespace>/</namespace>
    </ros>
  </controller>
</robot>
